/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

/* Media Query is at the end */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-size: clamp(0.5rem, 1.5vw, 1rem);

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.5rem;
}

.welcome-and-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.welcome,
.welcome-bankname {
  font-weight: 500;
}

.welcome {
  font-size: 2.2rem;
  text-align: center;
}

.welcome-bankname {
  font-size: 2.4rem;
}

.logo {
  height: 4rem;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.login__input {
  border: none;
  padding: 0.3rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.login__input:first-of-type {
  width: 17rem;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::-webkit-input-placeholder {
  color: #bbb;
}

.login__input::-moz-placeholder {
  color: #bbb;
}

.login__input:-ms-input-placeholder {
  color: #bbb;
}

.login__input::-ms-input-placeholder {
  color: #bbb;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

/* MAIN */
.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 2rem 3fr;
  grid-template-columns: 4fr 3fr;
  -ms-grid-rows: auto 2rem auto 2rem 15rem 2rem 15rem 2rem 15rem;
  grid-template-rows: auto auto repeat(3, 15rem);
  gap: 2rem;

  /* NOTE This creates the fade in/out animation */
  opacity: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.app > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.app > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.app > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.app > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.app > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.app > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.app > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.app > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.app > *:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}
.app > *:nth-child(10) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.balance {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.balance__label {
  font-size: 1.8rem;
  font-weight: 500;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 2.2rem;
  font-weight: 400;
}

/* MOVEMENTS */
.movements {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.movements__row {
  padding: 2.25rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
}

.movements__date {
  margin-left: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(#39b385),
    to(#9be15d)
  );
  background-image: -o-linear-gradient(bottom right, #39b385, #9be15d);
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(#e52a5a),
    to(#ff585f)
  );
  background-image: -o-linear-gradient(bottom right, #e52a5a, #ff585f);
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1.6rem;
  margin-left: auto;
  margin-right: 1rem;
}

.summary {
  -ms-grid-row: 2;
  grid-row: 2;
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.summary__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.summary__group:not(:last-of-type) {
  margin-right: 2.5rem;
}

.summary__label {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 1rem 2rem 1rem;
  color: #333;
}

.operation--transfer {
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(#ffb003),
    to(#ffcb03)
  );
  background-image: -o-linear-gradient(bottom right, #ffb003, #ffcb03);
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(#39b385),
    to(#9be15d)
  );
  background-image: -o-linear-gradient(bottom right, #39b385, #9be15d);
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(#e52a5a),
    to(#ff585f)
  );
  background-image: -o-linear-gradient(bottom right, #e52a5a, #ff585f);
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.5fr 1rem 4fr 1rem 1fr;
  grid-template-columns: 2.5fr 4fr 1fr;
  -ms-grid-rows: auto 0.4rem auto;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

.form > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.form > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.form > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.form > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.form > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.form > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.form.form--loan {
  -ms-grid-columns: 5fr 1fr 1fr;
  grid-template-columns: 5fr 1fr 1fr;
}
.form__label--loan {
  -ms-grid-row: 2;
  grid-row: 2;
}

form.form--close {
  -ms-grid-columns: 5fr 3fr 1.5fr;
  grid-template-columns: 5fr 3fr 1.5fr;
}

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.7rem;
  text-align: center;
  color: #333;
  padding: 0.7rem 1rem;
  border-radius: 0.7rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.6rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  grid-column: 1 / -1;
  margin: 0 2rem 1.5rem;
  text-align: right;
  font-size: 1.5rem;
}

.timer {
  font-weight: 600;
}

footer {
  font-size: 1.4rem;
  margin: 0 1rem 1.5rem;
}
/* Media Query */

@media screen and (max-width: 800px) {
  nav,
  .welcome-and-logo,
  .summary {
    gap: 3rem;
  }

  .logo {
    height: 3.2rem;
  }

  .app {
    -ms-grid-rows: auto auto (15rem) [2] (auto) [4];
    grid-template-rows: auto auto repeat(2, 15rem) repeat(4, auto);
    margin: 2rem 0;
  }

  .movements {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / 5;
    grid-column: 1 / -1;
  }

  .movements__row {
    padding: 2rem 1rem;
  }

  .operation {
    padding: 1rem 1.5rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  .operation--transfer {
    grid-column: 1 / -1;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
  }

  .operation--loan {
    grid-column: 1 / -1;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
  }
  .operation--close {
    grid-column: 1 / -1;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / 8;
  }

  .logout-timer {
    grid-column: 1 / -1;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8 / 9;
  }
}
